include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/bonus_exposition/';
- var defaultBgr = 'backgrounds/shadowlands.jpg';

// ===================================================== SLIDES =====================================================
+mchapter('Exposition', imgAssets+'chapter_exposition.svg')
+frameInbox('Exposition')
    .bottom-80.right-0.nopadding.fragment
        img.height-400(src=imgAssets+'lothric_castle.jpg')
    ul.spacing-xl.top-0
        li.fragment aspect that is used to introduce or describe an important subject to the player
        li.fragment every level should elevate the challenge threshold, while gradually <span class="highlight">exposing player</span> the final challenge
        li.fragment exposition of the subject and its structure is crucial for 
            ul 
                li.fragment building up the atmosphere
                li.fragment giving the player some clarity on the story
                li.fragment linking things together: story, objects, environment
        li.fragment without a strong exposition, the player might get<br> confused as to what is happening and why
        li.fragment exposition in games often ends with a <span class="highlight">boss fight</span>
+frameInbox('Exposition of the main antagonist')
    .fill.center.flex-row.justify-evenly
        figure
            img.height-400(src=imgAssets+'donkeykong.jpg')
            p Donkey Kong
        figure
            img.height-400(src=imgAssets+'glados.jpg')
            p Portal
+frameInbox('Exposition linked to the story')
    .fill.center.flex-row.justify-evenly
        figure
            img.height-400(src=imgAssets+'half-life.jpg')
            p Half-Life
        figure
            img.height-400(src=imgAssets+'fear2.jpg')
            p F.E.A.R 2
+frameInbox('Exposition linked to the environment')
    .fill.center.flex-row.justify-evenly
        figure
            img.height-280(src=imgAssets+'prince.jpg')
            p Prince of Persia
        figure
            img.height-280(src=imgAssets+'shadow_of_the_colossus.jpg')
            p Shadow of the Colossus
        figure
            img.height-280(src=imgAssets+'ori.jpg')
            p Ori And The Blind Forest
+frameInbox('Exposition linked to levels')
    .fill.center.flex-row.justify-evenly
        figure
            img.height-400(src=imgAssets+'rayman.jpg')
            p Rayman
        figure
            img.height-400(src=imgAssets+'cuphead.jpg')
            p Cuphead