include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/games_intro/';
- var defaultBgr = 'backgrounds/bgr_px_mountains.jpg';

// ===================================================== SLIDES =====================================================
+mchapter('What are games', imgAssets+'chapter_game.svg')
+mcontainer('What is a game?')
    +frameShard.width-860.top-3p.fragment.fade-up
        p A <span class="highlight">game</span> is something you <span class="highlight">play</span>. 
            |Something that is <span class="highlight">fun</span> to play. 
            |A fun is a pleasure with <span class="highlight">surprises</span>. 
            span.highlight-2 (Jesse Schell)
    +frameShard.width-860.top-6p.left-20p.fragment.fade-up
        p A game is an interactive structure of <span class="highlight">endogeneous</span> meaning 
            |that requires player to struggle toward a goal. 
            span.highlight-2 (Greg Costikyan)
    +frameShard.width-860.top-9p.left-40p.fragment.fade-up
        p Games are exercise of control systems, in which there is a contest between powers, confined by 
            |<span class="highlight">rules</span>, producing a disequlibrial 
            |<span class="highlight">outcome</span>. 
            span.highlight-2 (Elliot Avendon)
+mcontainer("What is a game?")
    +frameShard.width-860.top-3p.fragment.fade-up
        p A game is a <span class="highlight">system</span> in which players engage in an artificial 
            |<span class="highlight">conflict</span>, defined by <span class="highlight">rules</span>, 
            |that results in a quantifiable <span class="highlight">outcome</span>. 
            span.highlight-2 (Sales &Zimmerman, 2004)
    +frameShard.width-860.top-6p.left-20p.fragment.fade-up
        p A game is an <span class="highlight">activity</span> defined by rules in which players try 
            |to reach some sort of <span class="highlight">goal</span>.<br> 
            span.highlight-2 (Alexander Galloway, 2006)
    +frameShard.width-860.top-9p.left-40p.fragment.fade-up
        p Games are series of meaningful choices.<br>
        p.pt-0.highlight-2.text-right (Sid Meyer, 2012)

+frameInbox('What is a game?')
    .fill.center
        img.height-300(src=globalAssets+'circle.svg')
    .top-5p.left-43p.highlight.text-xl curiosity
    .top-13p.left-26p.highlight.text-xl system
    .top-13p.left-60p.highlight.text-xl outcome
    .top-30p.left-22p.highlight.text-xl conflict
    .top-30p.left-65p.highlight.text-xl activity
    .top-45p.left-20p.highlight.text-xl endogeneous
    .top-45p.left-64p.highlight.text-xl goal
    .top-60p.left-30p.highlight.text-xl surprise
    .top-60p.left-59p.highlight.text-xl rules
    .top-72p.left-45p.highlight.text-xl choices
+frameInbox('What is a computer game?')
    div.important-orange
        .list-title.fragment
            p Computer Application
            ul
                li a computer program that <span class="highlight-2">helps</span> a user to perform a task
        .list-title.fragment
            p Computer game
            ul
                li a computer-controller game where players interact with objects displayed on a screen for the sake of <span class="highlight-2">entertainment</span>.
        figure.mt-50.fragment
            img.width-450(src=imgAssets+'habitica.png')
            p Habitica
    +tipKeen("Computer games are not applications! Yet the line between them is blurry.")(class='bottom-0p right-30p')
+frameInbox('Computer games VS applications')
    .fill.flex-row.justify-evenly.items-center
        .flex-col.items-center.mt-50
            img.height-150(src=imgAssets+'joypad.png')
            .space-lg
            p Entertainment
            p Gameplay
            p Dynamics
        .flex-col.items-center.mt-50
            img.height-150(src=imgAssets+'app.png')
            .space-lg
            p Tool
            p Use-cases
            p Feedback
+mcontainer('Generic definition')
    +frameShard.width-70px.height-20p.top-280.center.z-index-100
        p <span class="fragment">Computer games are</span> <span class="highlight fragment">real-time</span> <span class="highlight-2 fragment">interactive</span> 
         | <span class="color-tomato-light fragment">agent-based</span> <span class="color-emerald fragment">simulators.</span>
    +tipKeen("And they take place in a world where you can heal yourself by eating raw potatoes...")(class='top-20p')
+frameInbox('Why do we play games?')
    img.right-0.bottom-0.height-100p.opacity-5(src=imgAssets+'escape_reality.jpg')
    div.important-green
        div.fragment 4 core players types by <span class="highlight-2">Richard Bartle</span>
        .list-title.fragment.mt-20 
            p Achievers
            ul
                li interested in goals in a game to show off
                li speed runners, Minecraft builders
        .list-title.fragment
            p Explorers
            ul
                li like to understand the full extend of a game space
                li single-player and solo gamers
        .list-title.fragment
            p Socializers
            ul
                li more interested in other players than the gameplay
                li co-op players, Mario Kart racers
        .list-title.fragment
            p Destroyers
            ul
                li players who want to win but also dominate game
                li they love competition
+frameInbox('How do we play games?')
    img.right-0.bottom-0.height-100p.opacity-5(src=imgAssets+'player.jpg')
    div.important-green
        ul.leading-2xl
            li.fragment <span class="highlight">competitive play</span> - someone wins, someone loses 
            li.fragment <span class="highlight">cooperative play</span> - experience through cooperation
            li.fragment <span class="highlight">skill-based play</span> - game emphasizes player's skill development
            li.fragment <span class="highlight">experience-based play</span> - experience through exploration, story unfolding,...
            li.fragment <span class="highlight">whimsical play</span> - emphasizes silly actions
            li.fragment <span class="highlight">expressive play</span> - subverts player's choice to express something
            li.fragment <span class="highlight">simulation-based play</span> - models a real-world system
+frameInbox('Game genres')
    .center
        .grid-rows-3.grid-cols-4.grid.gap-10.width-65p
            +gbGame(imgAssets+'genre_casual.jpg', 'Casual')
            +gbGame(imgAssets+'genre_sandbox.jpg', 'Sandbox')
            +gbGame(imgAssets+'genre_fighting.jpg', 'Fighting')
            +gbGame(imgAssets+'genre_racing.jpg', 'Racing')
            +gbGame(imgAssets+'genre_shooter.jpg', 'Shooter')
            +gbGame(imgAssets+'genre_platformer.jpg', 'Platformer')
            +gbGame(imgAssets+'genre_puzzle.jpg', 'Puzzle')
            +gbGame(imgAssets+'genre_arcade.jpg', 'Arcade')
            +gbGame(imgAssets+'genre_rpg.jpg', 'RPG')
            +gbGame(imgAssets+'genre_sports.jpg', 'Sports')
            +gbGame(imgAssets+'genre_strategy.jpg', 'Strategy')
            +gbGame(imgAssets+'genre_adventure.jpg', 'Adventure')
            
            
+frameInbox('History of games and consoles')
    .center
        img.height-750(src=imgAssets+'games_history.svg')