mixin msection(bgr)
  section(data-background-image!=bgr)
    block

mixin mcontainer(bgr)
  +msection(bgr)
    div(class!='container ' + (attributes.class ? attributes.class : ''))
      block

mixin mframe(bgr, title)
  +mcontainer(bgr)
    h3!=title
    div(class!='frame ' + (attributes.class ? attributes.class : ''))
      block

mixin mframeGreen(bgr, title)
  +mcontainer(bgr)
    h3!=title
    div(class!='frame importance-green ' + (attributes.class ? attributes.class : ''))
      block

mixin mframeOrange(bgr, title, classes)
  +mcontainer(bgr)
    h3!=title
    div(class!='frame importance-orange ' + (attributes.class ? attributes.class : ''))
      block

mixin mframeRed(bgr, title)
  +mcontainer(bgr)
    h3!=title
    div(class!='frame importance-red ' + (attributes.class ? attributes.class : ''))
      block

mixin mframe-m(bgr, title, inside)
  +mcontainer(bgr)
    if !inside
      h3!=title
    .frame-m(class!=(attributes.class ? attributes.class : ''))
      if inside
        h3!=title
      block

mixin mframe-statement(bgr, title)
  +mcontainer(bgr)
    h3!=title
    .frame-statement(class!=(attributes.class ? attributes.class : ''))
      block

mixin quote(title, author)
  blockquote(class!=(attributes.class ? attributes.class : ''))=title
    span.author=author

mixin gbquote(bgr, title, author, fadein)
    +mcontainer(bgr)
      h3 Goodbye quote
      .center-content
        blockquote(class!=(attributes.class ? attributes.class : ''))=title
          span.author(class=(fadein ? 'fragment fade-in' : ''))=author