mixin contentlink(title, code, label)
  .input-container
    a.link-button(id=code href='./'+code+'.pug')
    .link-tile
      a.inner-container(href='./'+code+'.pug?print-pdf')
        img(class='print' src='../static/slides/svg/dashboard/ic_print.svg')
      .inner-hint=label
      .icon
        block
      label.link-tile-label(for=code)!=title

mixin lock 
    .input-container
      .link-tile.locked
        .icon
          include ../../static/slides/svg/dashboard/lock.svg


mixin resourcelink(title, lecture, href, type, id)
    .input-container
      a.link-button(id=id href=href)
      .link-tile
        .inner-hint=lecture
        .icon
          case type 
            when 'book'
              img(src!='../static/slides/svg/dashboard/ic_book.svg')
            when 'article'
              img(src!='../static/slides/svg/dashboard/ic_article.svg')
            when 'movie'
              img(src!='../static/slides/svg/dashboard/ic_movie.svg')
            when 'hint'
              img(src!='../static/slides/svg/dashboard/ic_hint.svg')
            when 'library'
              img(src!='../static/slides/svg/dashboard/ic_library.svg')
        label.link-tile-label(for=id)!=title

mixin gamelink(title, name)
  .input-container
    a.link-button(id=name href='./'+name+'.html')
    .link-tile
      .gameicon
        block
      label.link-tile-label(for=name)!=title