// text1 <strong>strong1</strong> text2 <strong>strong2</strong> text3
mixin strtext(text1, strong1, text2, strong2, text3, strong3)
  if text1
    | #{text1}
  if strong1
    if text1
      strong &nbsp;#{strong1}
    else
      strong=strong1
  if text2
    |&nbsp;#{text2}
  if strong2
    strong &nbsp;#{strong2}
  if text3
    |&nbsp;#{text3}
  if strong3
    strong &nbsp;#{strong3}

mixin strtext2(text1, strong1, text2, strong2, text3, strong3)
  if text1
    | #{text1}
  if strong1
    if text1
      strong(class="highlight-sec") &nbsp;#{strong1}
    else
      strong(class="highlight-sec")=strong1
  if text2
    |&nbsp;#{text2}
  if strong2
    strong(class="highlight-sec") &nbsp;#{strong2}
  if text3
    |&nbsp;#{text3}
  if strong3
    strong(class="highlight-sec") &nbsp;#{strong3}

mixin strtext3(text1, strong1, text2, strong2, text3, strong3)
  if text1
    | #{text1}
  if strong1
    if text1
      strong(class="highlight-third") &nbsp;#{strong1}
    else
      strong(class="highlight-third")=strong1
  if text2
    |&nbsp;#{text2}
  if strong2
    strong(class="highlight-third") &nbsp;#{strong2}
  if text3
    |&nbsp;#{text3}
  if strong3
    strong(class="highlight-third") &nbsp;#{strong3}

// text1 <b>bold1</b> text2 <b>bold2</b> text3
mixin btext(text1, bold1, text2, bold2, text3, bold3)
  if text1
    | #{text1}
  if bold1
    if text1
      b &nbsp;#{bold1}
    else
      b=bold1
  if text2
    |&nbsp;#{text2}
  if bold2
    b &nbsp;#{bold2}
  if text3
    |&nbsp;#{text3}
  if bold3
    b &nbsp;#{bold3}


// text1 <strong><b>sbold1</b></strong> text2 <strong><b>sbold2</b></strong> text3
mixin sbtext(text1, sbold1, text2, sbold2, text3, sbold3)
  if text1
    | #{text1}
  if sbold1
    if text1
      strong
        b &nbsp;#{sbold1}
    else
      strong
        b=sbold1
  if text2
    |&nbsp;#{text2}
  if sbold2
    strong 
      b &nbsp;#{sbold2}
  if text3
    |&nbsp;#{text3}
  if sbold3
    strong
      b &nbsp;#{sbold3}


mixin strongbold(text)
  strong
    b=text